{% extends 'record/base.html' %}
{% load static %}
{% block title %} 詳細ページ {% endblock %}

{% block content %}

<div class="contents-wrapper">
  {% for book in books %}
  <div class="content-list">
    <div class="content-image">
      <p><img src="{{ book.image }}" </p> </div> <div class="content-texts">
        <div class="content-text">
          <h1 class="text">タイトル</h1>
          <p class="text">{{ book.title }}</p>
        </div>
        <div class="content-text">
          <h1 class="text">著者</h1>
          <p class="text">{{ book.author }}</p>
        </div>
        <div class="content-text">
          <h1 class="text">読書完了日</h1>
          <p class="text">{{ book.register_day }}</p>
        </div>
    </div>
    {% endfor %}
  </div>

</div>
<div class="detail-wrapper">
  <div class="like-phrase">
    <h1>気に入った文章</h1>
    <br>
  </div>

    {% for ph in phrase %}
      <div class="phrase_text">
        <span class="phrase_page">P{{ ph.page }}</span>
        {{ ph.like_phrase }}
      </div>
    {% empty %}
      <div class="nothing_phrase">
        <p>好きなフレーズが登録されていません</p>
      </div>
    {% endfor %}

</div>


{% endblock %}

</div>
</body>

</html>
