{% extends 'record/base.html' %}
{% load static %}
{% block title %} 本棚 {% endblock %}

{% block content %}


      <div class="contents-wrapper bookshelf-wrapper">
        {% for book in books %}
        <div class="content-image bookshelf-image">
          <a href="{% url 'record:book_detail' book_id=book.id %}"><img src="{{ book.image }}"></a>
        </div>
        {% endfor %}
      </div>


      <div class="paginator">
         {% if books.has_previous %}
         <a href="?page={{ books.previous_page_number }}">&lt; 前のページ</a>
         {% else %}
         <span>&lt; 前のページ</span>
         {% endif %}

         <span class="current-page">{{ books.number }}</span>

         {% if books.has_next %}
         <a href="?page={{ books.next_page_number }}">次のページ &gt;</a>
         {% else %}
         <span>次のページ &gt;</span>
         {% endif %}
       </div>

{% endblock %}
</div>

  </body>

  </html>
