{% extends 'record/base.html' %}
{% load static %}
{% block title %} プロフィール {% endblock %}

{% block content %}

      <div class="profile">
        <div class="profile-img">
        </div>
        <div class="profile-text">
          <div class="profile-list">
            <h1>名前</h1>
            <p>nozomi</p>
          </div>
          <div class="profile-list">
            <h1>年齢</h1>
            <p>25歳</p>
          </div>
          <div class="profile-list">
            <h1>趣味</h1>
            <p>映画鑑賞、読書、プログラミング</p>
          </div>
          <div class="profile-list">
            <h1>所有資格</h1>
            <ul>
              <li>TOEIC: 675点</li>
              <li>基本情報技術者</li>
              <li>LPIC level1</li>
              <li>AWS SAA</li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="introduction">
        <div class="introduction-title">
        <h1>自己紹介</h1>
        </div>
        <blockquote>
        <p>
            nozomiと言います。<br>
            伊坂幸太郎さんの砂漠という本を大学生のころに読み、読書にハマりました。<br>
            小説を始めとしてビジネス書や自己啓発の本も読むようになり、視野を広げようとしています。<br>
            そこで自分の読んだ本の好きな文章を紹介していこうと思いました。<br>
            さらにプログラミングにも興味があるので、どうせなら両方を掛け合わせてみようと思い、このサイトを作成しました。<br>
            このサイトの裏側の仕組みをブログに書いているのでよかったら覗いてみてください。<br>
            ぜひ、趣味が合いそうな方は仲良くしてください。
        </p>
        </blockquote>

      </div>
      <div class="other-app">
        <h1>ポートフォリオ・経歴</h1>
        <blockquote>
        <p>2019/02 プログラミングを独学で勉強開始</p>
        <p>2019/04 初めてアプリをアウトプットすることに成功</p>
        <p>2019/06 メモアプリを作成することに成功(SharePut)</p>
        </blockquote>
      </div>
{% endblock %}
    </div>
    <!-- ここまで複数個あり -->
    <!-- ページネーションの必要あり -->
  </body>

  </html>
