{% extends 'record/base.html' %}
{% load static %}
{% block title %} プロフィール {% endblock %}

{% block content %}

      <div class="profile">
        <div class="profile-img">
          <div class="pc_prof1">
            <img src="/static/img/pc_prof1.png" alt="aaa">
          </div>
          <div class="iphone_prof1">
            <img src="/static/img/iphone_prof2.png" alt="aaa">
          </div>
        </div>
        <div class="profile-text">
          <div class="profile-list">
            <h1>名前</h1>
            <p>nozomi</p>
          </div>
          <div class="profile-list">
            <h1>年齢</h1>
            <p>25歳</p>
          </div>

          <div class="profile-list">
            <h1>趣味</h1>
            <p>映画鑑賞、読書、プログラミング</p>
          </div>
        </div>
      </div>
      <br>
      <div class="clear">
      </div>
      <div class="introduction">
        <div class="introduction-title">
        <h1>自己紹介</h1>
        </div>
        <blockquote>
        <p>
            nozomiと言います!!<br>
            伊坂幸太郎さんの「砂漠」という小説を読んでから読書が好きになりました。<br>
            小説にとどまらずビジネス書や自己啓発のような本何でも読みます。<br>
            いまだに本は紙で購入派で、本棚に並べたいタイプです😎<br>
        </p>
        </blockquote>

      </div>
      <div class="other-app">
        <h1>MyBookRecord を作った経緯</h1>
        <blockquote>
        <p>大学生の頃、ゼミの教授に　「人の書いた文章をマネするだけでも文章力が上がる」<br>
        と本当か嘘かわからないことを言われ、読んだ本の中で好きなフレーズをエクセルに書き残していました。<br>
        <br>
        社会人になってからITの会社で働くことになり、プログラミングに興味を持ち独学で勉強開始<br>
        少しずつサイトを作れるようになってきて「エクセルに書くのではなく公開できるサイトを作ろう！」<br>
        と思い、作成することにしました😆</p>
        </blockquote>
      </div>
{% endblock %}
    </div>
    <!-- ここまで複数個あり -->
    <!-- ページネーションの必要あり -->
  </body>

  </html>
