{% extends 'record/base.html' %}
{% load static %}
{% block title %} プロフィール {% endblock %}

{% block content %}

      <div class="profile">
        <div class="profile-img">
        </div>
        <div class="profile-text">
          <div class="profile-list">
            <h1>名前</h1>
            <p>nozomi</p>
          </div>
          <div class="profile-list">
            <h1>年齢</h1>
            <p>25歳</p>
          </div>
          <div class="profile-list">
            <h1>趣味</h1>
            <p>映画鑑賞、読書、プログラミング</p>
          </div>
          <!-- <div class="profile-list">
            <h1>所有資格</h1>
            <ul>
              <li>TOEIC: 675点</li>
              <li>基本情報技術者</li>
              <li>LPIC level1</li>
              <li>AWS SAA</li>
            </ul>
          </div> -->
        </div>
      </div>
      <br>
      <div class="introduction">
        <div class="introduction-title">
        <h1>自己紹介</h1>
        </div>
        <blockquote>
        <p>
            nozomiと言います!!<br>
            伊坂幸太郎さんの「砂漠」という小説を読んでから読書が好きになりました。<br>
            小説にとどまらずビジネス書や自己啓発のような本何でも読みます。<br>
            いまだに本は紙で購入派で、本棚に並べたいタイプです😎<br>
            ぜひ、おすすめの本があれば教えてほしいです!!
        </p>
        </blockquote>

      </div>
      <div class="other-app">
        <h1>MyBookRecord を作った経緯</h1>
        <blockquote>
        <p>大学生の頃、ゼミの教授に「人の書いた文章をマネするだけでも文章力が上がる」<br>
        と本当か嘘かわからないことを言われ、読んだ本の中で好きなフレーズをエクセルに書き残すこと日々。<br>
        そんな日々を過ごしているうちに、社会人になりIT系の会社に入社しプログラミングにハマりました<br>
        「今までエクセルに書いていたものを公開できるサイトを作ろう！」<br>
        と思い、プログラミングのアウトプットをするために作った次第です。</p>
        </blockquote>
      </div>
{% endblock %}
    </div>
    <!-- ここまで複数個あり -->
    <!-- ページネーションの必要あり -->
  </body>

  </html>
