{% extends 'record/base.html' %}
{% load static %}
{% block title %} オススメランキング {% endblock %}

{% block content %}

      <div class="recommend">
        <div class="recommend-title">
          <h1>夏休みに読みたい本 Best3</h1>
        </div>
        <div class="recommend-wrapper">
        <label>1位</label>
        <div class="recommend-wrap">
          <div class="recommend-image">
            <p>写真が入る予定</p>
          </div>
          <div class="recommend-text">
            <p>王道の青春ストーリー</p>
          </div>
        </div>
        <label>2位</label>
        <div class="recommend-wrap">
          <div class="recommend-image">
            <p>写真が入る予定</p>
          </div>
          <div class="recommend-text">
            <p>王道の青春ストーリー</p>
          </div>
        </div>
        <label>3位</label>
        <div class="recommend-wrap">
          <div class="recommend-image">
            <p>写真が入る予定</p>
          </div>
          <div class="recommend-text">
            <p>王道の青春ストーリー</p>
          </div>
        </div>
      </div>
      <br>
    </div>
{% endblock %}
    </div>
    <!-- ページネーションの必要あり -->
  </body>

  </html>
