html, body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #FFF;
}


@media screen and (min-width:1024px) {
.wrappers {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-image: url("/static/img/IMG_4260.PNG") ;
}
}

@media screen and (max-width:639px) {
.wrappers {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("/static/img/IMG_4260.PNG") ;
  }
}


header {
  width: 100%;
  height: 30%;
}

@media screen and (min-width:1024px) {
.header-image {
  text-align: center;
  width: 100%;
  height: 300px;
  background-image: url("/static/img/PC用_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
  position: relative;
}
}

@media screen and (max-width:639px) {
.header-image {
    text-align: center;
    width: 100%;
    height: 180px;
    background-image: url("/static/img/my book record.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 40%;
    position: relative;
  }
}

.header-image a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header-nav li{
  width: 24.6%;
  display: inline-block;
  text-align: center;
}
@media screen and (min-width:1024px) {
nav {
  border-bottom: 1px solid #FFF;
}
nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
nav ul li {
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #FFF;
}
nav ul li:first-child {
  border-left: 1px solid #FFF;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}
nav ul li a:hover {
  background-color:#F8E750;
  border-bottom: 5px solid #F8E750;
}
nav ul li.current {
  font-weight: bold;
}
nav ul li.current a {
  border-bottom: 5px solid #00B0F0;
  color: #00B0F0;
}
}

@media screen and (max-width:639px) {
  nav {
    height: 36px;
    border-bottom: 1px solid #FFF;
  }
  nav ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  nav ul li {
    display: table-cell;
    min-width: 50px;
    border-right: 1px solid #FFF;
  }
  nav ul li:last-child {
    border-right: none;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 12px 0 10px 0;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
  }
  nav ul li a:hover {
    background-color:#F8E750;
    border-bottom: 5px solid #F8E750;
  }
  nav ul li.current {
    font-weight: bold;
  }
  nav ul li.current a {
    border-bottom: 5px solid #00B0F0;
    color: #00B0F0;
  }
}

.contents-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: 100px 0;
}

@media screen and (min-width:1024px) {
.contents-wrapper {
  margin: 100px 0;
}

.contents-wrapper::after{
  content:"";
  display: block;
  width:30%;
}

}

@media screen and (max-width:639px) {
.contents-wrapper {
  margin: 30px 0;
}

.contents-wrapper::after{
  content:"";
  display: block;
  width:30%;
}
}

.detail-wrapper {
  height: auto;
}

.detail-wrapper p {
  padding: 0 10px 15px 10px;
}

@media screen and (max-width:639px){
.bookshelf-wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
}

.content-list {
  width: 100%;
}

.content-list:not(:first-child) {
  margin-top: 50px;
}

.content-image {
  width: 40%;
  height: 200px;
  float: left;
  padding: 1em 1em 0em 1em;
  text-align: center;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}

@media screen and (max-width:639px) {
.bookshelf-image {
  width: 30%;
  height: 200px;
  padding: 1em 0.5em 0em 0.5em;
  text-align: center;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}
}

@media screen and (min-width:1024px) {
  .content-texts {
    width: 40%;
    height: 100%;
    float: left;
    padding: 1em 1em 0em 1em;
    color: #FFF;
  }
  .content-text {
    font-size: 20px;
  }
}


@media screen and (max-width:639px) {
.content-texts {
  width: 40%;
  height: 100%;
  float: left;
  padding: 1em 1em 0em 1em;
  color: #FFF;
}
}

.content-text h1 {
  border-bottom: solid 1px black;
}

.content-texts p {
  padding-top: 8px;
}

.content-text:not(:first-child) {
  margin-top: 30px;
}


/* Paginator */

.paginator {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
  padding: 0 0 20px 0;
}

.paginator>span.current-page {
  margin: 0 16px;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 4px 12px;
}

/* Paginator 終了*/

.recommend {
  margin: 50px 0;
}

.recommend-wrapper {
  display: flex;
  justify-content: space-around;
}

.recommend-title {
  padding: 10px 0;
}

.recommend-wrap {
  width: 30%;
  height: 200px;
  background-color: green;
  position: relative;
}

.recommend-image {

}

.recommend-text {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width:1024px) {
.bookshelf-image {
  width: 27%;
  height: auto;
  margin-bottom: 50px;
}
}

@media screen and (max-width:639px) {
.bookshelf-image {
  width: 40%;
  height: auto;
  margin-bottom: 50px;
}
}

.impression {
  margin: 30px 0;
}

table {
  width: 100%;
  margin-top: 8px;
}

.book_page {
  width: 25%;
  border: solid 1px black;
}

.book_text {
  width: 75%;
  border: solid 1px black;
  padding: 5px;
}
.like-phrase h1{
  width: 96%;
  margin: 0 auto;
}

.nothing_phrase {
  width: 96%;
  margin: 0 auto;
}

.phrase_text {
 position: relative;
 margin: 3em auto;
 padding: 1.2em 1em 1em;
 width: 87%;
 background-color: #FFF; /*BOX背景色 */
 border: 2px solid #8d93c8; /* 枠線の太さ・色 */
 box-shadow: 2px 2px 2px #ccc; /* 影の色 */
 color: #000;
 font-size: 16px;
}
.phrase_page {
 position: absolute;
 /* display: inline-block; */
 display: flex;
 align-items: center;
 top: -28px; /*タブ調整 */
 left: -2px; /*タブ調整 */
 padding: 1px 10px;
 height: 26px;
 font-weight: bold;
 color: #fff; /* タイトル色 */
 background-color: #8d93c8; /* タイトル背景色 */
 border-radius: 8px 8px 0 0;
}

.profile {
  width: 100%;
  height: 200px;
  position: relative;
}

@media screen and (min-width:1024px) {
  .profile-img {
    width: 50%;
    height: 300px;
    float: left;
    position: absolute;
    border-radius: 100%;
    background-image: url("/static/img/pc_prof.png") ;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width:639px) {
.profile-img {
  width: 100%;
  height: 250px;
  float: left;
  position: absolute;
  left: -30px;
  border-radius: 50%;
  background-image: url("/static/img/iphone_prof.png") ;
  background-repeat: no-repeat;
}
}

.profile-text {
  color: #FFF;
  float: left;
  width: 48%;
  position: absolute;
  padding: 20px 10px;
  right: 0px;
  font-size: 18px;
}

@media screen and (max-width:639px) {
.profile-text {
  font-size: 14px;
}
}


.profile-text h1 {
  border-bottom: solid 1px black;
}

.profile-text p {
  padding-top: 8px;
}

.profile-list ul li{
   list-style-position: inside;
   padding-left: 1em;
   padding: 2px 0px 2px 0;
}

.profile-list ul li:first-child {
  margin-top: 5px;
}

.profile-list:not(:first-child) {
  margin-top: 20px;
}

.introduction, .other-app {
  height: auto;
  padding: 2em 1.5em;
}

@media screen and (min-width:1024px) {
.introduction h1 {
  margin-bottom: 1em;
  font-size: 24px;
  position: relative;
  display: inline-block;
  padding: 0 55px 0 0;
}

.introduction h1:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 110px;
  display: inline-block;
  height: 3px;
  width: 700px;
  background-color: white;
}

.other-app h1 {
  margin-bottom: 1em;
  font-size: 24px;
  position: relative;
  display: inline-block;
  padding: 0 55px 0 0;
}

.other-app h1:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 450px;
  display: inline-block;
  height: 3px;
  width: 360px;
  background-color: white;
}

.introduction blockquote {
  font-size: 18px;
}

.other-app blockquote {
  font-size: 18px;
}
}

@media screen and (max-width:639px) {
.introduction h1 {
  margin-bottom: 1em;
  font-size: 22px;
  position: relative;
  display: inline-block;
  padding: 0 55px 0 0;
}

.introduction h1:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 110px;
  display: inline-block;
  height: 3px;
  width: 215px;
  background-color: white;
}

.other-app h1 {
  margin-bottom: 1em;
  font-size: 24px;
  position: relative;
  display: inline-block;
  /* padding: 0 55px 0 0; */
  padding: 0 0 0 0;
}

/* .other-app h1:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 250px;
  display: inline-block;
  height: 3px;
  width: 80px;
  background-color: white;
} */

.introduction blockquote {
  font-size: 14px;
}

.other-app blockquote {
  font-size: 14px;
}
}


@media screen and (min-width:1024px) {
.introduction p {
  margin-top: 5px;
  line-height: 1.4em;
  word-wrap: break-word;
}

.other-app p {
  margin-top: 5px;
  line-height: 1.4em;
  word-wrap: normal;
}
}

@media screen and (max-width:639px) {
.introduction p {
  margin-top: 5px;
  line-height: 1.3em;
  word-wrap: break-word;
}

.other-app p {
  margin-top: 5px;
  line-height: 1.3em;
  word-wrap: normal;
}
}


@media screen and (min-width:1024px) {
  .book_title {
    padding: 20px;
    font-size: 26px;
  }
}

@media screen and (max-width:639px) {
.book_title {
  padding: 10px;
}
}

@media screen and (min-width:1024px) {
.book_info {
    padding: 1.5em;
}
}

@media screen and (max-width:639px) {
.book_info {
  padding: 10px;
  font-size: 16px;
}
}
