{% load static %}

<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>{% block title %}My Book Record{% endblock %}</title>
  </head>

  <body>
    <!-- ここからデータベースに入っているものをループして取り出す -->
    <div class="wrappers">
      <header>
        <div class="header-image">
          <img src="{% static 'img/IMG_0074.png' %}" alt="ヘッダー画像">
        </div>
        <nav>
          <ul class="header-nav">
            <li><a href="{% url 'record:bookshelf' %}">本棚</a></li>
            <li><a href="{% url 'record:recommend' %}">オススメランキング</a></li>
            <li><a href="{% url 'record:data' %}">読書データ</a></li>
            <li><a href="{% url 'record:profile' %}">プロフィール</a></li>
          </ul>
        </nav>
      </header>
{% block content %}
      <div class="contents-wrapper">
        <div class="content-image">
          <p><a href="{% url 'record:book_detail' %}">写真が入る予定</a></p>
        </div>
        <div class="content-text">
          <label>タイトル</label>
          <p>砂漠</p>
          <label>著者</label>
          <p>伊坂幸太郎</p>
          <label>ジャンル</label>
          <p>小説</p>
          <label>読書完了日</label>
          <p>8/12</p>
        </div>

      </div>
      <div class="contents-wrapper">
        <div class="content-image">
          <p>写真が入る予定</p>
        </div>
        <div class="content-text">
          <label>タイトル</label>
          <p>砂漠</p>
          <label>著者</label>
          <p>伊坂幸太郎</p>
          <label>ジャンル</label>
          <p>小説</p>
          <label>読書完了日</label>
          <p>8/12</p>
        </div>
{% endblock %}
      </div>
      <footer>
        2019-08-14 start
      </footer>
    </div>
    <!-- ここまで複数個あり -->
    <!-- ページネーションの必要あり -->
  </body>

  </html>
