{% extends 'record/base.html' %}
{% load static %}
{% block title %} 本棚 {% endblock %}

{% block content %}


      <div class="contents-wrapper bookshelf-wrapper">
        <div class="content-image bookshelf-image">
          <p>写真が入る予定</p>
        </div>
        <div class="content-image bookshelf-image">
          <p>写真が入る予定</p>
        </div>
        <div class="content-image bookshelf-image">
          <p>写真が入る予定</p>
        </div>
      </div>
{% endblock %}
    </div>
    <!-- ページネーションの必要あり -->
  </body>

  </html>
