{% extends 'record/base.html' %}
{% load static %}
{% block title %} プロフィール {% endblock %}

{% block content %}

      <div class="profile">
        <div class="profile-img">
          <p>画像挿入</p>
        </div>
        <div class="profile-text">
          <label>名前</label>
          <p>nozomi</p>
          <label>年齢</label>
          <p>25歳</p>
          <label>趣味</label>
          <p>映画鑑賞、読書、プログラミング</p>
          <label>所有資格</label>
          <p>TOEIC: 675点、基本情報技術者、LPIC level1、AWS アーキテクトソリューション アソシエイト</p>
        </div>
      </div>
      <div class="other-app">
        <h1>ポートフォリオ</h1>
        <p>こんなもの作ってます。見てねー!</p>
      </div>
{% endblock %}
    </div>
    <!-- ここまで複数個あり -->
    <!-- ページネーションの必要あり -->
  </body>

  </html>
